# global env
# NODE_ENV="production"
PORT=

PGNAME=
PGPASSWORD=
PGHOST=
PGPORT=
PGDATABASE=
PGDIALECT=

#Local DB
#PGNAME=
#PGPASSWORD=
#PGHOST=
#PGPORT=
#PGDATABASE=
#PGDIALECT=

#Dev
#PGNAME=
#PGPASSWORD=
#PGHOST=
#PGPORT=
#PGDATABASE=
#PGDIALECT=

#Petro
#PGNAME=
#PGPASSWORD=
#PGHOST=
#PGPORT=
#PGDATABASE=
#PGDIALECT=

JWT_EXPIRE=
JWT_SECRET=

ACCESS_TOKEN=
API_URL=
API_SSO=
API_TIMEOUT=
SSL=
DEFAULT_PASSWORD=

SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_ACCOUNT=

#One Signal
#APP_ID=
#API_KEY=

APP_ID=
API_KEY=

FE_URI=